body {
    font-family: Liberation Sans;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.grey {
    color: #777;
}

#search, #search_submit {
    border-radius: 5px;
    height: 45px;
    font-size: 150%;
}

#search {
    border-radius: 5px;
    width: 60%;
}

#search_submit {
    border-radius: 10px 50px 50px 10px;
}

#search_bar {
    text-align: center;
}

#admin_link {
    float: right;
    margin-left: auto;
    font-size: 70%;
}

#upvotes {
    color: #3E5;
}

#downvotes {
    color: #E35;
}
