{% extends "base.html" %}

{% block title %}
Admin panel
{% end %}

{% block body %}
<h1>Admin panel</h1>
You are connected as {{ mail }} (<a href="/admin/logout">disconnect</a>).

<h3>Add an admin<h3>
<form action="/admin/add" method="post">
  <label control="mail">Mail: </label>
  <input type="text" name="mail" id="mail" /><br />
  <label control="password">Password: </label>
  <input type="password" name="password" id="password" /><br />

  <input type="submit" value="Add" />
</form>

<h3>Delete an admin</h3>
<form action="/admin/delete" method="post">
  <label control="mail">Mail: </label>
  <input type="text" name="mail" id="mail" /><br />

  <input type="submit" value="Delete" />
</form>

<h3>Add a movie</h3>
<form action="/admin/add/movie" method="post">
  <label control="title">Title: </label>
  <input type="text" name="title" id="title" /><br />
  
  <label control="year">Year: </label>
  <input type="text" name="year" id="year" /><br />

  <label control="note">Note: </label>
  <input type="text" name="note" id="note" /><br />

  <input type="submit" value="Add" />
</form>

{% end %}

