{% extends "base.html" %}

{% block title %}
Admin panel
{% end %}

{% block javascript %}
$(document).ready(function(){
    $('div[class="action"] h3').show();
    $('div[class="action"] form').hide();
    $('div[class="action"] h3').click(function () {
        $(this).next('form').toggle('slow');
    });
});
{% end %}

{% block body %}
<h1>Admin panel</h1>
You are connected as {{ mail }} (<a href="/admin/logout">disconnect</a>).

<div class="action">
<h3>Add an admin</h3>
<form action="/admin/add" method="post">
  <label control="mail">Mail: </label>
  <input type="text" name="mail" id="mail" /><br />
  <label control="password">Password: </label>
  <input type="password" name="password" id="password" /><br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Delete an admin</h3>
<form action="/admin/delete" method="post">
  <label control="mail">Mail: </label>
  <input type="text" name="mail" id="mail" /><br />

  <input type="submit" value="Delete" />
</form>
</div>

<div class="action">
<h3>Add a movie</h3>
<form action="/admin/add/movie" method="post">
  <label control="title">Title: </label>
  <input type="text" name="title" id="title" /><br />
  
  <label control="year">Year: </label>
  <input type="text" name="year" id="year" /><br />

  <label control="note">Note: </label>
  <input type="text" name="note" id="note" /><br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add a serie</h3>
<form action="/admin/add/serie" method="post">
  <label control="title">Title: </label>
  <input type="text" name="title" id="title" /><br />
  
  <label control="year">Year: </label>
  <input type="text" name="year" id="year" /><br />

  <label control="end_year">End year: </label>
  <input type="text" name="end_year" id="end_year" /><br />

  <label control="note">Note: </label>
  <input type="text" name="note" id="note" /><br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add an episode</h3>
<form action="/admin/add/episode" method="post">
  <label control="title">Serie title: </label>
  <input type="text" name="title" id="title" /><br />
  
  <label control="year">Serie year: </label>
  <input type="text" name="year" id="year" /><br />

  <label control="date">Episode year: </label>
  <input type="text" name="date" id="date" /><br />

  <label control="season">Season: </label>
  <input type="text" name="season" id="season" /><br />

  <label control="epi_num">Episode number: </label>
  <input type="text" name="epi_num" id="epi_num" /><br />

  <label control="epi_title">Episode title: </label>
  <input type="text" name="epi_title" id="epi_title" /><br />

  <label control="note">Episode note: </label>
  <input type="text" name="note" id="note" /><br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add a director</h3>
<form action="/admin/add/director" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="fname">First name: </label>
  <input type="text" name="fname" id="fname" /><br />

  <label control="lname">Last name: </label>
  <input type="text" name="lname" id="lname" /><br />

  <label control="num">Number: </label>
  <input type="text" name="num" id="num" /><br />

  <label control="gender">Gender: </label>
  <input type="text" name="gender" id="gender" /> (leave blank if person already exists)<br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add a writer</h3>
<form action="/admin/add/writer" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="fname">First name: </label>
  <input type="text" name="fname" id="fname" /><br />

  <label control="lname">Last name: </label>
  <input type="text" name="lname" id="lname" /><br />

  <label control="num">Number: </label>
  <input type="text" name="num" id="num" /><br />

  <label control="gender">Gender: </label>
  <input type="text" name="gender" id="gender" /> (leave blank if person already exists)<br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add an actor</h3>
<form action="/admin/add/actor" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="role">Role: </label>
  <input type="text" name="role" id="role" /><br />

  <label control="fname">First name: </label>
  <input type="text" name="fname" id="fname" /><br />

  <label control="lname">Last name: </label>
  <input type="text" name="lname" id="lname" /><br />

  <label control="num">Number: </label>
  <input type="text" name="num" id="num" /><br />

  <label control="gender">Gender: </label>
  <input type="text" name="gender" id="gender" /> (leave blank if person already exists)<br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add a genre</h3>
<form action="/admin/add/genre" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="genre">Genre: </label>
  <input type="text" name="genre" id="genre" /><br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add a country</h3>
<form action="/admin/add/country" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="country">Country: </label>
  <input type="text" name="country" id="country" /><br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Add a language</h3>
<form action="/admin/add/language" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="language">Language: </label>
  <input type="text" name="language" id="language" /><br />

  <input type="submit" value="Add" />
</form>
</div>

<div class="action">
<h3>Delete a genre</h3>
<form action="/admin/delete/genre" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="genre">Genre: </label>
  <input type="text" name="genre" id="genre" /><br />

  <input type="submit" value="Delete" />
</form>
</div>

<div class="action">
<h3>Delete a country</h3>
<form action="/admin/delete/country" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="country">Country: </label>
  <input type="text" name="country" id="country" /><br />

  <input type="submit" value="Delete" />
</form>
</div>

<div class="action">
<h3>Delete a language</h3>
<form action="/admin/delete/language" method="post">
  <label control="id">Work ID: </label>
  <input type="text" name="id" id="id" /><br />

  <label control="language">Language: </label>
  <input type="text" name="language" id="language" /><br />

  <input type="submit" value="Delete" />
</form>
</div>

{% end %}
