<html>
  <head>
    <title>{% block title %}IMDB{% end %}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      {% block javascript %} {% end %}
    </script>
  </head>
  <body>
    <form action="/search" method="get">
      <input type="text" name="search" id="search" />
      <input type="submit" value="Search" />
    </form>
    <a href="/admin">Admin panel</a><br /><br />
    {% block body %} {% end %}
  </body>
</html>
