{% extends "base.html" %}

{% block title %}
{% set (fname, lname, num, gender) = person %}
{{ fname }} {{ lname }}
{% end %}

{% block body %}
{% import utils %}
{% set (fname, lname, num, gender) = person %}
    <h1>{{ fname }} {{ lname }}</h1>

    <h3>Roles</h3>
    {% if roles %}
      <ul>
        {% for (ID, role) in roles %}
          <li>{{ role }} in {% raw utils.work_link(ID) %}</li>
        {% end %}
      </ul>
    {% else %}
      Never played in anything
    {% end %}

    <h3>Directed</h3>
    {% if directed %}
      <ul>
        {% for (ID) in directed %}
        <li>{% raw utils.work_link(ID) %}</li>
        {% end %}
      </ul>
    {% else %}
      Never directed anything
    {% end %}

    <h3>Written</h3>
    {% if written %}
      <ul>
        {% for (ID) in written %}
        <li>{% raw utils.work_link(ID) %}</li>
        {% end %}
      </ul>
    {% else %}
      Never written anything
    {% end %}
{% end %}
