{% extends "base.html" %}

{% block title %}
{% set (fname, lname, num, gender) = person %}
{{ fname }} {{ lname }}
{% end %}

{% block css %}
#roles {
    float: left;
    width: 30%;
}

#directed {
    margin-left: 30%;
    margin-right: 30%;
}

#written {
    float: right;
    width: 30%;
}
{% end %}

{% block body %}
{% import utils %}
{% set (fname, lname, num, gender) = person %}
<h1>{{ fname }} {{ lname }} {% if num %} ({{ num }}) {% end %}</h1>

{% if admin %}
<a href="/admin/delete/person/{% raw url_escape(fname) %}/{% raw url_escape(lname) %}/{% raw url_escape(num) %}">Delete</a><br/>
{% end %}

<div class="centered">
<span class="info">Gender</span>:
{% if gender == 'M' %}
  Male
{% elif gender == 'F' %}
  Female
{% else %}
  <span class="grey">Unknown</span>
{% end %}
</div>

<div id="roles">
  <h3>Roles</h3>
  {% if roles %}
    <ul>
      {% for (ID, role) in roles %}
        <li><i>{{ role }}</i> in {% raw utils.work_link(ID) %}</li>
      {% end %}
    </ul>
  {% else %}
    <span class="grey">Never played in anything</span>
  {% end %}
</div>

<div id="written">
  <h3>Written</h3>
  {% if written %}
    <ul>
      {% for (ID,) in written %}
        <li>{% raw utils.work_link(ID) %}</li>
      {% end %}
    </ul>
  {% else %}
    <span class="grey">Never written anything</span>
  {% end %}
</div>

<div id="directed">
  <h3>Directed</h3>
  {% if directed %}
    <ul>
      {% for (ID,) in directed %}
        <li>{% raw utils.work_link(ID) %}</li>
      {% end %}
    </ul>
  {% else %}
    <span class="grey">Never directed anything</span>
  {% end %}
</div>

{% end %}
