{% extends "base.html" %}

{% block title %}
{% set (title, year, note, endyear) = serie %}
Serie: {{ title }} ({{ year }} - {% if endyear %}{{ endyear }}{% end %})
{% end %}

{% block javascript %}
$(document).ready(function(){
    $('div[class="season"] ul').hide();
    $('div[class="season"] h4').click(function () {
        $('div[class="season"] ul)'.hide('slow');
        $(this).next('ul').toggle('slow');
    });
});
{% end %}

{% block body %}
{% set (title, year, note, endyear) = serie %}
    <h1>{{ title }} ({{ year }} - {% if endyear %}{{ endyear }}{% end %})</h1>

    {% if admin %}
    <a href="/admin/delete/work/{{ ID }}">Delete</a>
    {% end %}

    <h3>Poster</h3>
    <img src="/poster/{{ title }}/{{ year }}/" alt="Serie poster"/>

    <h3>Rating</h3> 
      {% if note %} {{ note }}
      {% else %} -
      {% end %}
    /10

    <h3>Genres</h3>
    {% if genres %}
      {{ ', '.join(genres) }}
    {% else %}
       No genres
    {% end %}

    {% if episodes %}
    <h3>Episodes</h3>
    {% set (seasonP) = 0 %}
    {% for (epID, season, numE, title) in episodes %}
        {% if season != seasonP %}
            {% if seasonP != 0 %}
        </ul>
        </div>
            {% end %}
        <div class="season">
        <h4>Season {{ season }}</h4>
        <ul>
        {% end %}
            <li><a href="/episode/{{ epID }}">
                {{ numE }}. {{ title }}</a>
              {% if admin %}(<a href="/admin/delete/work/{{ ID }}">delete</a>){% end %}
            </li>
        {% set (seasonP) = season %}
    {% end %}
    </ul>
    {% end %}
    
    <h3>Countries</h3>
    {% if countries %}
      {{ ', '.join(countries) }}
    {% else %}
      No countries
    {% end %}

    <h3>Languages</h3>
    {% if languages %}
      {{ ', '.join(languages) }}
    {% else %}
      No languages
    {% end %}

    <h3>Director(s)</h3>
    {% if directors %}
      <ul>
        {% for (fname, lname, num) in directors %}
        <li><a href="/person/{{ fname }}/{{ lname }}/{{ num }}">
            {{ fname }} {{ lname }}</a>
          {% if admin %}(<a href="/admin/delete/director/{{ fname }}/{{ lname }}/{{ num }}/{{ ID }}">delete</a>){% end %}
        </li>
        {% end %}
      </ul>
    {% else %}
      No director
    {% end %}

    <h3>Writer(s)</h3>
    {% if writers %}
      <ul>
        {% for (fname, lname, num) in writers %}
        <li><a href="/person/{{ fname }}/{{ lname }}/{{ num }}">
            {{ fname }} {{ lname }}</a>
          {% if admin %}(<a href="/admin/delete/writer/{{ fname }}/{{ lname }}/{{ num }}/{{ ID }}">delete</a>){% end %}
        </li>
        {% end %}
      </ul>
    {% else %}
      No writer
    {% end %}

    <h3>Actors</h3>
    {% if actors %}
      <ul>
        {% for (fname, lname, num, role) in actors %}
        <li><a href="/person/{{ fname }}/{{ lname }}/{{ num }}">
            {{ fname }} {{ lname }}</a> as {{ role }}
          {% if admin %}(<a href="/admin/delete/actor/{{ fname }}/{{ lname }}/{{ num }}/{{ ID }}/{{ role }}">delete</a>){% end %}
        </li>
        {% end %}
      </ul>
    {% else %}
      No actor
    {% end %}
{% end %}
